body {
  padding: 5rem;
  font: 1.5rem "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

a:hover {
  color: #000000;
  font-size: larger;
  text-decoration: none;
}

.err-text {
  color: red;
}

.dpText{
  color: #000000;
  font-size: large;
}
.connetionMeta{
  color: #000000;
  padding: 1rem;
  width: 50rem;
  border: #000000 1px solid;
  font-size: medium;
}

span.title {
  font-weight: bold;
}